html, body {height: 100%; margin: 0; padding: 0;}
body {background-color: #f6f6f6; font-family:sans-serif; }


.container .main-tittle{background-color: #84BD3C;color: #FFFFFF;height: 70px;padding-top: 20px;padding-left: 10px;font-weight: 700;font-size: 28px;}

.search-results .exerciseList .loaded_excercises{
	height: 200px;
	background-color:#F5FFFA;
	padding-top: 20px;
	padding-left: 10px;
}